<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @*JQuery*@
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery-1.8.0.js"></script>
    @*Font Awesome*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @*JQuery*@
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Css Trang Chi Tiet-->
    <link href="~/Content/Css/TrangChiTietCss.css" rel="stylesheet" />
    <!--Css Custom-->
    <link href="~/Content/Css/CustomCss.css" rel="stylesheet" />
    <link href="~/Content/Css/GioHangCss.css" rel="stylesheet" />
    <link href="~/Content/Css/CssDKDN.css" rel="stylesheet" />
    @*custom js*@
    <script src="~/scripts/JavaScriptCustom.js"></script>
    <script src="~/scripts/SlideJS.js"></script>
    <script src="~/scripts/jsGiohang.js"></script>
    <script src="~/scripts/DKDNjs.js"></script>
    
</head>
<body onunload="tai()">
    <div class="container-main">
        <header>
            <div id="Welcome">
                <a href="/TrangChu/ViewTrangChu"> <span class="fa fa-home"></span> Trang Chủ</a>
                @{
                    if (Session["TenKH"] == null)
                    {
                        <a href="#"><span class="fa fa-user"></span> Tài Khoản Của Tôi</a>
                        <a href="/DKDN/DangNhap"><span class="fa fa-sign-in"></span> Đăng Nhập</a>
                    }
                    else
                    {
                        <a href="/DKDN/ThongTinCaNhan"><span class="fa fa-hand-peace-o"></span> Xin Chào! @Session["TenKH"]</a>
                        <a href="/DKDN/DangXuat"><span class="fa fa-sign-out"></span> Đăng Xuất</a>
                    }
                }
                <a href="/DKDN/DangKy"><span class="fa fa-registered"></span> Tạo Tài Khoản</a>
            </div>
            <div id="Logo">
                <a href="/TrangChu/ViewTrangChu">
                    <img src="~/Content/Images/BookOnline.PNG" />
                </a>
            </div>
            <div id="Search">
                <div id="btn-Search"></div>
                <input type="text" id="txt-Search" placeholder="Tìm Kiếm" name="Search">
            </div>
            <div id="cart">
                <a href="/GioHang/GioHang">
                    <h4 class="fa fa-shopping-cart"></h4>
                    <span>@Session["TongSL"] Sản phẩm - @Session["TongTien"] VND</span>
                </a>
            </div>
        </header>
        <div id="menu">
            <h4 class="fa fa-home"></h4>
             <span class="fa fa-bars" id="btn-Menu"></span>
            <ul>
                <li><a style="padding:0 15px;" href="/TrangChu/ViewTrangChu"><span style="font-size:40px;" class="fa fa-home"></span></a></li>
                <li><a href="#"> Sách Nổi Bật</a></li>
                <li><a href="#"> Sách Bán Chạy</a></li>
                <li><a href="#"> Sách Giáo Khoa</a></li>
                <li><a href="#"> Dụng Cụ Học Tập</a></li>
            </ul>
            <div id="menu-responsive">
                <ul>
                    <li id="menu-plus"><span>Sách Theo Chủ Đề <i class="fa fa-plus-square"></i> </span>
                        <div>
                            @*<ul>
                                <li><a href="#">Công Nghệ Thông Tin</a></li>
                                <li><a href="#">Công Nghệ Thông Tin</a></li>
                                <li><a href="#">Công Nghệ Thông Tin</a></li>
                                <li><a href="#">Công Nghệ Thông Tin</a></li>
                            </ul>*@
                            @Html.Action("TopicPartial", "PartialView");
                        </div>
                    </li>
                    <li id="menu-plus2"><span>  Theo NXB <i class="fa fa-plus-square"></i> </span>
                        <div>
                            @Html.Action("PublishPartialRespon","PartialView")
                        </div>
                    </li>
                    <li><span><a href="#">Sách Bán Chạy</a></span></li>
                    <li><span><a href="#">Sách Nỗi Bật</a></span></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-left">
                <div class="menu2">
                    <div id="menu2-heading">
                        <span>Chủ Đề</span>
                    </div>
                    @Html.Action("TopicPartial", "PartialView");
                </div>
                
            </div>
            <div class="content">
                @RenderBody()
            </div>
            
        </div>
    </div>
    <div style="clear:both"></div>
    <footer>
        <div class="collum" id="TT">
            <h3 >Thông Tin Của Bạn</h3>
            <a href="#"><p>Tài Khoản Của Bạn</p></a>
            <a href="#"><p>Giỏ Hàng</p></a>
            <a href="#"><p>Lịch Sử Giao Dịch</p></a>
            <a href="#"><p>Sản Phẩm Yêu Thích</p></a>
        </div>
        <div class="collum" id="TG">
            <h3 >Trợ Giúp</h3>
            <a href="#"><p>Hướng Dẫn Mua Hàng</p></a>
            <a href="#"><p>Phương Thức Thanh Toán</p></a>
            <a href="#"><p>Chính Sách Đổi Trả</p></a>
            <a href="#"><p>Câu Hỏi Thường Gặp</p></a>
        </div>
        <div class="collum" id="HT">
            <h3 >Hỗ Trợ Khách Hàng</h3>
            <a href="#"><p>Hotline:0909999999</p></a>
            <a href="#"><p>Điện Thoại:(08) 3987654</p></a>
            <a href="#"><p>Email:info@BookOnline.vn</p></a>
            <a href="#"><p>Bản Đồ</p></a>
        </div>
        <div class="contact">
            <h3>Giới Thiệu</h3>
            <p>Mua sách online tại BooksOnline, bạn được tận hưởng chính sách hỗ trợ miễn phí đổi trả hàng,
             giao hàng nhanh – tận nơi – miễn phí*, thanh toán linh hoạt - an toàn. Chỉ với 3 cú click chuột,
             chưa bao giờ trải nghiệm mua sách online lại dễ chịuvà nhẹ nhàng như vậy. Còn chần chờ gì nữa,đặt
             mua ngay những tựa sách hay cùng hàng ngàn sản phẩm chất lượng khác tại BooksOnline.vn!</p>
        </div>
        
    </footer>
</body>
</html>
