@using OnlineBooks.Models;
@model List<Sach>
@{
    ViewBag.Title = "ViewTrangChu";
    Layout = "~/Views/_LayoutTrangChu.cshtml";
}
<div class="mySlide">
    <div>
        <img class="SlidesImg" src="~/Content/Images/slide1.jpg" />
        <img class="SlidesImg" src="~/Content/Images/slide3.jpg" />
        <img class="SlidesImg" src="~/Content/Images/slide4.jpg" />
        <button type="button" id="btn-L"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button type="button" id="btn-R"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>
<div class="box">
    <div class="box-heading">
        <span>Sản Phẩm Mới</span>
    </div>
    <div class="box-content">
        <div class="box-product">
            @{
                int i = 0;

            }
            @foreach (var item in Model)
            {
                i++;
                <div>
                    <a href="/ViewSach/ChiTietSach?MaSach=@item.MaSach">
                        <div class="Images"><img src="~/Content/Images/product/@item.AnhBia" /></div>
                        <div class="Name">@item.TenSach</div>
                        <div class="price">@string.Format("{0:0,0}", item.GiaBan) VND</div>
                    </a>
                    <div class="btn-cart">
                        <input type="button" value="Thêm Vào Giỏ Hàng" onclick="DatHang(@item.MaSach)" />
                    </div>
                </div>
                if (i == 10)
                {
                    break;
                }
            }

        </div>
    </div>
    <div class="box-heading">
        <span>Sản Phẩm Nổi Bật</span>
    </div>
    <div class="box-content">
        <div class="box-product">
            @{
                int j = 0;

            }
            @foreach (var item in Model)
            {
                if (item.SoLuongTon <= 15)
                {
                    j++;
                    <div>
                        <a href="/ViewSach/ChiTietSach?MaSach=@item.MaSach">
                            <div class="Images"><img src="~/Content/Images/product/@item.AnhBia" /></div>
                            <div class="Name">@item.TenSach</div>
                            <div class="price">@string.Format("{0:0,0}", item.GiaBan) VND</div>
                        </a>
                        <div class="btn-cart">
                            <input type="button" value="Thêm Vào Giỏ Hàng" />
                        </div>
                    </div>
                }
                if (j == 10)
                {
                    break;
                }
            }

        </div>
    </div>
</div>